.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
#nav-list a {
  background-color:white;
  border: 1px solid black;
}
#nav-list a:hover {
  background-color: ghostwhite;
  border: 1px solid black;
}

.large-height {
  height: 700px;
  background-color: ghostwhite;
}
.large-height > h3 {
  padding-top: 10px;
}
.large-height > div {
  padding-left: 10px;
  padding-right: 10px;
}

#main-content .row a {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}